*{
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.mb-30{
    margin-bottom: 30px;
}

.txt-center{
    text-align: center;
}

.br-15{
    border-radius: 15px;
    padding: 20px;
}

body{
    background-color: #5584AC;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 30px;
}

h1, #answer_container{
    background-color: #4c7aa1;
    color: white;
}

#form_container{
    background-color: #4c7aa1;
}

#answer_container{
    margin-top: 30px;
}

input{
    border-radius: 20px;
    border: none;
    width: 70px;
}

select{
    border-radius: 20px;
    border: none;
}

button{
    background-color: white;
    border-radius: 15px;
    border: none;
    padding: 4px 8px;
}

button:hover{
    background-color: rgb(87, 168, 87);
    cursor: pointer;
}